<ul>
  <li>
    <%= form.label :login %><br />
    <%= form.text_field :login %>
  </li>
  
  <li>
    <%= form.label :email %><br />
    <%= form.text_field :email %>
  </li>

  <li>
    <%= form.label :password, form.object.new_record? ? nil : "Change password" %><br />
    <%= form.password_field :password %>
  </li>
  
  <li>
    <%= form.label :password_confirmation, "Confirm password" %><br />
    <%= form.password_field :password_confirmation %>
  </li>
</ul>