<tr id="mistake_<%= mistake.id %>">
  <th>
    <%= mistake.control %>
  </th>
  
  <td>
    <%= mistake.amount %>
  </td>
  
  <td>
    <%= mistake.tag_list %>
  </td>
  
  <td>
    <%= mistake.comments %>
  </td>
  
  <td>
    <%= link_to "X", performance_mistake_path(@performance, mistake),
                :class => "destroy_link"%>
  </td>
</tr>