<table id="performance_list">
  <thead>
    <tr>
      <th><%= sortable "date" %></th>
      <th><%= sortable "name", "Competiton" %></th>
      <th><%= sortable "length" %></th>
      <th><%= sortable "time" %></th>
      <th>Min/km</th>
      <th><%= sortable "position" %></th>
      <th>Mistakes</th>
      <th>Time without mistakes</th>
      <th><%= sortable "winning_time", "Winning time"%></th>
      <th></th>
    </tr>
  </thead>
  
  <tbody>
    <% if @performances.empty? %>
    <tr>
      <td colspan="5">
        <em><%= I18n.t('performances.no_performances') %>. <%= link_to t(:'create'), new_performance_path %> <%= t(:'performances.your_first_one') %>.</em>
      </td>
    </tr>
    <% else %>
    
      <% @performances.each do |perf| %>
      <tr class="<%= cycle('white', 'gray') %>">
        <td>
          <%= perf.date %>
        </td>
        <td>
          <%= link_to perf.name.blank? ? perf.date.to_s : perf.name, perf %>          
        </td>
        <td>
          <%= perf.length %>
        </td>
        <td>
          <%= perf.formatted_time %>
        </td>
        <td>
          <%= perf.min_per_km %>
        </td>
        
        <td>
          <%= perf.position %>
        </td>
        
        <td>
          <%= perf.total_mistakes %>
        </td>
        
        <td>
          <%= perf.time_without_mistakes %>
        </td>
        
        <td>
          <%= perf.formatted_winning_time %>
        </td>
        
        <td>
          <%= link_to "X", perf, :class => "destroy_link" %>
        </td>
        
      </tr>
      <% end %>
    <% end %>
    
  </tbody>
</table>

<p>
  <%= link_to "#{t(:'Add')} #{t(:'performances.new_performance')}", new_performance_path %>.
</p>